<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <title>Solution Quarter</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <!-- Place favicon.ico in the root directory -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/fav.png">

  <!-- CSS here -->
  <%= stylesheet_link_tag "bootstrap.min", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "fontawesome.min", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "venobox.min", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "animate.min", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "keyframe-animation", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "odometer.min", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "swiper.min", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "main", "data-turbo-track": "reload" %>
  <%#= javascript_importmap_tags %>
</head>

<body>
<%= render 'layouts/header' %>
<%= render 'layouts/right_sidebar' %>
<%= yield %>
<%= render 'layouts/footer' %>

<!-- JS here -->
<%= javascript_include_tag 'jquary-3.6.0.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'bootstrap-bundle', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'imagesloaded-pkgd', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'waypoints.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'venobox.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'odometer.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'meanmenu', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'smooth-scroll', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.isotope', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'wow.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'swiper.min', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'ajax-form', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'main', 'data-turbolinks-track': 'reload' %>
</body>
</html>
